<div id="bloggityContainer">
	<div class="bodyBigSide">
		<h1>My Bloggity Blog Blog</h1>
		<%= flash[:error] %>
		<% if blog_writer? %>
			<%= link_to "New blog", new_blog_path %>
		<% end %>
	
		<% for blog in @blogs %>
			<%= render :partial => 'show', :locals => { :blog => blog, :header_style => 'h2', :show_comment_count => true } %>
		<% end %>
		
		<% if @blogs && @blogs.total_pages > 1 -%>
			<div class="moreBlogLink">See more blogs &nbsp;&nbsp;</div>
			<div class="paginateContainer"><%= will_paginate(@blogs, {:form_name => :blog_show_params, :param_name => :page} ) -%></div>
		<% end %>
			
	</div>
	<div class="bodyLittleSide">
		<p style="font-size:14px;"><strong>Recent Posts</strong></p>
		<ul id="postList">
		<% for blog in @blogs %>
			<li><%= link_to blog.title, blog_named_link(blog) %></li>
		<% end %>
			<% if @blogs && @blogs.total_pages > 1 -%>
				<li><div style="padding-bottom:4px;">More pages</div> <%= will_paginate(@blogs, {:form_name => :blog_show_params, :param_name => :page} ) -%></li>
				<% end %>
		</ul>
		<p style="font-size:14px;"><strong>Or Maybe</strong></p>
		<div style="margin-top:4px"><%= link_to "#{image_tag "feed-icon.png"} Subscribe to feed", { :action => :feed }, :style => 'text-decoration:none' %></div>
	</div>
</div>
